/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  background-color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div {
  border: 2px solid pink;
}
